doctype
html(lang="en")
    include parts/head.pug
    body

    include parts/navbar.pug   


    div.w-50.mx-auto.mt-5.p-3
        h1.text-center Register
        form(method="POST", action="/register")
            div.form-group
                label(for="exampleInputEmail1") Username
                input.form-control#exampleInputEmail1(name="username", type="text",  aria-describedby="emailHelp", placeholder="Enter email")
                small.form-text.text-muted#emailHelp  We'll never share your email with anyone else.
  
            div.form-group
                label(for="exampleInputPassword1") Password
                input.form-control#exampleInputPassword1(name="password",type="password", placeholder="Password")
            button.btn.btn-primary(type="submit") Submit


if status 
    include parts/alert.pug

 


